<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="My First Portfolio Website and obviously more to come.">
    <title>My First Portfolio</title>
    <link rel="stylesheet" href="../assets/css/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre&family=Host+Grotesk&display=swap"
        rel="stylesheet">

    <style>

    </style>
</head>
<body>
    <!-- <div class="main-grid">
        <nav class="nav">
            <div class="main-nav">
                <ul class="nav-list">
                    <li class="nav-items"><a href="">Home</a></li>
                    <li class="nav-items"><a href="">Contact Us</a></li>
                    <li class="nav-items"><a href="">Achievements</a></li>
                    <li class="nav-items"><a href="">Services</a></li>
                    <li class="nav-items"><a href="">About Us</a></li>
                </ul>
            </div>
        </nav>
        <aside class="left-aside-bar">
            <div class="left-aside-content">
            </div>
        </aside>
        <section class="main-content">
                <div class="card">
                    <img src="../assets/img/forsite.png" alt="Random Image">
                    <h1>Card Heading</h1>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis ipsum architecto voluptates dolor ut officiis maxime error earum hic tenetur. Unde cupiditate voluptate alias nisi nihil laborum accusamus vero repellendus eius voluptatum!</p>
                </div>
                <div class="card">
                    <img src="../assets/img/forsite.png" alt="Random Image">
                    <h1>Card Heading</h1>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis ipsum architecto voluptates dolor ut officiis maxime error earum hic tenetur. Unde cupiditate voluptate alias nisi nihil laborum accusamus vero repellendus eius voluptatum!</p>
                </div>
                <div class="card">
                    <img src="../assets/img/forsite.png" alt="Random Image">
                    <h1>Card Heading</h1>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis ipsum architecto voluptates dolor ut officiis maxime error earum hic tenetur. Unde cupiditate voluptate alias nisi nihil laborum accusamus vero repellendus eius voluptatum!</p>
                </div>
                <div class="card">
                    <img src="../assets/img/forsite.png" alt="Random Image">
                    <h1>Card Heading</h1>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis ipsum architecto voluptates dolor ut officiis maxime error earum hic tenetur. Unde cupiditate voluptate alias nisi nihil laborum accusamus vero repellendus eius voluptatum!</p>
                </div>
                <div class="card">
                    <img src="../assets/img/forsite.png" alt="Random Image">
                    <h1>Card Heading</h1>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis ipsum architecto voluptates dolor ut officiis maxime error earum hic tenetur. Unde cupiditate voluptate alias nisi nihil laborum accusamus vero repellendus eius voluptatum!</p>
                </div>
                <div class="card">
                    <img src="../assets/img/forsite.png" alt="Random Image">
                    <h1>Card Heading</h1>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis ipsum architecto voluptates dolor ut officiis maxime error earum hic tenetur. Unde cupiditate voluptate alias nisi nihil laborum accusamus vero repellendus eius voluptatum!</p>
                </div>
                <div class="card">
                    <img src="../assets/img/forsite.png" alt="Random Image">
                    <h1>Card Heading</h1>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis ipsum architecto voluptates dolor ut officiis maxime error earum hic tenetur. Unde cupiditate voluptate alias nisi nihil laborum accusamus vero repellendus eius voluptatum!</p>
                </div>
                <div class="card">
                    <img src="../assets/img/forsite.png" alt="Random Image">
                    <h1>Card Heading</h1>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis ipsum architecto voluptates dolor ut officiis maxime error earum hic tenetur. Unde cupiditate voluptate alias nisi nihil laborum accusamus vero repellendus eius voluptatum!</p>
                </div>
                <div class="card">
                    <img src="../assets/img/forsite.png" alt="Random Image">
                    <h1>Card Heading</h1>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis ipsum architecto voluptates dolor ut officiis maxime error earum hic tenetur. Unde cupiditate voluptate alias nisi nihil laborum accusamus vero repellendus eius voluptatum!</p>
                </div>
                <div class="card">
                    <img src="../assets/img/forsite.png" alt="Random Image">
                    <h1>Card Heading</h1>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis ipsum architecto voluptates dolor ut officiis maxime error earum hic tenetur. Unde cupiditate voluptate alias nisi nihil laborum accusamus vero repellendus eius voluptatum!</p>
                </div>
                <div class="card">
                    <img src="../assets/img/forsite.png" alt="Random Image">
                    <h1>Card Heading</h1>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis ipsum architecto voluptates dolor ut officiis maxime error earum hic tenetur. Unde cupiditate voluptate alias nisi nihil laborum accusamus vero repellendus eius voluptatum!</p>
                </div>
                <div class="card">
                    <img src="../assets/img/forsite.png" alt="Random Image">
                    <h1>Card Heading</h1>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis ipsum architecto voluptates dolor ut officiis maxime error earum hic tenetur. Unde cupiditate voluptate alias nisi nihil laborum accusamus vero repellendus eius voluptatum!</p>
                </div>
                <div class="card">
                    <img src="../assets/img/forsite.png" alt="Random Image">
                    <h1>Card Heading</h1>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis ipsum architecto voluptates dolor ut officiis maxime error earum hic tenetur. Unde cupiditate voluptate alias nisi nihil laborum accusamus vero repellendus eius voluptatum!</p>
                </div>
                <div class="card">
                    <img src="../assets/img/forsite.png" alt="Random Image">
                    <h1>Card Heading</h1>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis ipsum architecto voluptates dolor ut officiis maxime error earum hic tenetur. Unde cupiditate voluptate alias nisi nihil laborum accusamus vero repellendus eius voluptatum!</p>
                </div>
                <div class="card">
                    <img src="../assets/img/forsite.png" alt="Random Image">
                    <h1>Card Heading</h1>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis ipsum architecto voluptates dolor ut officiis maxime error earum hic tenetur. Unde cupiditate voluptate alias nisi nihil laborum accusamus vero repellendus eius voluptatum!</p>
                </div>
                <div class="card">
                    <img src="../assets/img/forsite.png" alt="Random Image">
                    <h1>Card Heading</h1>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis ipsum architecto voluptates dolor ut officiis maxime error earum hic tenetur. Unde cupiditate voluptate alias nisi nihil laborum accusamus vero repellendus eius voluptatum!</p>
                </div>
                <div class="card">
                    <img src="../assets/img/forsite.png" alt="Random Image">
                    <h1>Card Heading</h1>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis ipsum architecto voluptates dolor ut officiis maxime error earum hic tenetur. Unde cupiditate voluptate alias nisi nihil laborum accusamus vero repellendus eius voluptatum!</p>
                </div>
                <div class="card">
                    <img src="../assets/img/forsite.png" alt="Random Image">
                    <h1>Card Heading</h1>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis ipsum architecto voluptates dolor ut officiis maxime error earum hic tenetur. Unde cupiditate voluptate alias nisi nihil laborum accusamus vero repellendus eius voluptatum!</p>
                </div>
                <div class="card">
                    <img src="../assets/img/forsite.png" alt="Random Image">
                    <h1>Card Heading</h1>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis ipsum architecto voluptates dolor ut officiis maxime error earum hic tenetur. Unde cupiditate voluptate alias nisi nihil laborum accusamus vero repellendus eius voluptatum!</p>
                </div>
        </section>

        <aside class="right-aside-bar">
            <div class="right-aside-content">

            </div>
        </aside>

        <footer class="footer">
            <p>&copy; 2023</p>
        </footer>
        <div class="round-logo">
            <img src="" alt="">
        </div>
    </div> -->
    <!-- <script src="../assets/js/script.js"></script>
    <script src="../assets/js/new.js"></script> -->
    <script src="../assets/js/test.js"></script>
</body>

</html>
